AUTH_PROVIDER_MODE=supabase
NEXT_PUBLIC_SUPABASE_URL=https://qfiyxpaxbdhbeapksyjp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_REF=qfiyxpaxbdhbeapksyjp
SUPABASE_ACCESS_TOKEN=
